* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
}

html {
  font-size: 62.5%;
}

header nav {
  margin-top: 4rem;
  position: sticky;
  z-index: 10;
  background-color: #ffffff;
  left: 5.6rem;
  width: 76.6%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  border: none;
  background-color: #ffffff;
  width: 16.3%;
  cursor: pointer;
}

.menu img {
  height: 60px;
}

.logo {
  width: 29.2%;
}

.contenedor-intro {
  width: 100%;
  margin-top: 6.4rem;
  padding: 0 4rem 0;
}

.contenedor-intro img {
  width: 100%;
  height: 341.533px;
  display: flex;
}

.seccion-header {
  margin-top: 10rem;
  padding-bottom: 3.9rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.8rem;
}

.frase-encabezado {
  color: #232c50;
  text-align: right;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 114.6%; /* 57.3px */
  letter-spacing: -1.75px;
}

.descripcion-encabezado {
  color: #000000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 157.1%; /* 26.013px */
  height: 71px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.boton-morado {
  border: none;
  border-radius: 50px;
  background-color: #8b48bf;
  display: flex;
  width: 134px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  color: #ffffff;
  font-size: 13.181px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.boton-morado:hover {
  opacity: 0.7;
  transform: scale(105%);
}

.diferencias-pros {
  display: flex;
  width: 100%;
  padding: 4rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #3cddf3;
  color: #ffffff;
}

.diferencias-pros h2 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 114.6%; /* 41.256px */
}

.diferencias-pros p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 151.1%; /* 24.176px */
}

.ventajas {
  padding-top: 6.5rem;
  padding-left: 34px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ventajas article {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

.ventaja-encabezado {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
  border-radius: 50px 0px 0px 50px;
  background-color: rgba(139, 72, 191, 0.3);
}

.ventaja-encabezado p:first-child {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  background-color: #8b48bf;
  color: #ffffff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.ventaja-encabezado p:last-child {
  color: #323851;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
}

.ventaja-descripcion {
  color: #b3b2b7;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 156.6%; /* 25.523px */
  letter-spacing: -0.163px;
  width: 85%;
  text-align: left;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 1rem;
  min-height: 130px;
}

.mejores-del-mes {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mejores-del-mes h2 {
  color: #242e53;
  text-align: center;
  font-size: 3.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 156.6%; /* 61.41px */
  letter-spacing: -0.392px;
}

.mejores-del-mes article {
  width: 92.7%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin-top: 10.9rem;
}

.contenido-articulo {
  position: relative;
  top: -3.6rem;
  width: 81.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.1rem;
}

.contenido-articulo h3 {
  color: #3f4868;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 156.6%; /* 25.168px */
  letter-spacing: -0.161px;
}

.contenido-articulo p {
  color: #b9b9c1;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 156.6%; /* 25.056px */
}

.mejores-del-mes button {
  margin-top: 4.5rem;
}

.mejores-equipos {
  display: flex;
  width: 100%;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: #3cddf3;
  margin-top: 5.8rem;
}

.mejores-equipos h2 {
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 119.6%; /* 47.84px */
  letter-spacing: -0.2px;
}

.boton-oscuro {
  background-color: #232c50;
}

footer {
  background-color: #1e1e26;
  display: flex;
  width: 100%;
  padding: 4rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

footer form {
  display: flex;
  padding: 1rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.estructura-formulario {
  display: flex;
  height: 48.518px;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  align-self: stretch;
}

.estructura-formulario input {
  border: none;
  display: flex;
  height: 44px;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
  border-radius: 50px;
}

.estructura-formulario input::placeholder {
  color: #a0a0a0;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.boton-redondo {
  width: 63px;
  height: 42px;
}

footer nav {
  padding: 1rem;
  margin-left: 6.8rem;
  margin-right: 6.8rem;
}

footer nav ul {
  display: flex;
  column-gap: 15rem;
}

.columna-navegacion {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.columna-navegacion li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.columna-navegacion li a:hover {
  text-decoration: underline;
}

.redes-sociales {
  display: flex;
  height: 42.054px;
  padding: 1rem 5rem;
  flex-direction: column;
  align-self: stretch;
}

.redes-sociales ul {
  display: flex;
  height: 22.054px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.logo-footer {
  padding: 1rem;
}

.logo-footer img {
  width: 22.4%;
  height: 25px;
  width: 100%;
}

footer p {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 1rem;
  color: #8c8c94;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media(min-width: 670px){
  .mejores-equipos{
    background: #8B48BF;
    gap: 40rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 6rem 21rem;
    justify-content: center;
    }

    .mejores-equipos h2 {
      text-align: start;
    }

    .boton-oscuro {
      background: #FFF;
      color: #8B48BF;
    }

    footer{
      display: flex;
      /* position: absolute; */
      /* flex-wrap: wrap; */
      flex-direction: row-reverse;
      /* align-items: stretch;
      justify-content: space-around; */
      align-items: flex-start;
      align-content: center;
      padding: 5rem 17rem;

    }

    footer p {
      /* width: 100%; */
      justify-content: flex-end;
      padding-right: 5rem;
      margin-top: 14rem;
      position: absolute;
    }

    .redes-sociales {
      position: absolute;
      padding: 1rem 85rem;
      margin-top: 10rem;
    }
    .redes-sociales ul {
      gap: 13px;
    }
    .logo-footer img{
      /* display: flex; */
      /* margin-left: 21rem; */
    }

}